venv
.idea
build
dist
pretrained_models/4stems
pretrained_models/5stems
pretrained_models/models-all.7z
*.log
*.wav
*.mp3
*.spec
*.exe
*.mp4
*__pycache__
vocal/__pycache__/*
vocal/__pycache__/__init__.cpython-310.pyc
vocal/__pycache__/cfg.cpython-310.pyc
vocal/__pycache__/tool.cpython-310.pyc
